In [2]:
import pandas as pd
import numpy as np

In [4]:
df_org = pd.read_csv('content/customer.csv')
df_org

    性別  年齡  收入(千)  消費指數(1-100)
0    男  34     78            1
1    男  20     61           49
2    男  29     28           82
3    女  31     81           93
4    男  48     60           49
..  ..  ..    ...          ...
195  女  33     86           95
196  男  35     28           61
197  女  68     48           48
198  男  38     71           75
199  男  32     75           93

[200 rows x 4 columns]

In [5]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_org['收入(千)'] = le.fit_transform(df_org['收入(千)'])
df_org

    性別  年齡  收入(千)  消費指數(1-100)
0    男  34     47            1
1    男  20     32           49
2    男  29     10           82
3    女  31     49           93
4    男  48     31           49
..  ..  ..    ...          ...
195  女  33     51           95
196  男  35     10           61
197  女  68     24           48
198  男  38     40           75
199  男  32     44           93

[200 rows x 4 columns]

In [8]:
from sklearn.cluster import KMeans
# K Means model  (無監督 學習)
df = df_org[['年齡','收入(千)']].iloc[0:25]
df
km = KMeans(n_clusters=3)
km.fit(df)

/home/codespace/.local/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

KMeans(n_clusters=3)

In [9]:
df['類別'] = km.labels_
df

    年齡  收入(千)  類別
0   34     47   1
1   20     32   0
2   29     10   0
3   31     49   1
4   48     31   2
5   42     14   2
6   26     27   0
7   43     47   1
8   48     17   2
9   32     59   1
10  29     56   1
11  21     13   0
12  59     27   2
13  23     33   0
14  47     47   1
15  68     34   2
16  57     27   2
17  58      5   2
18  42     51   1
19  51     37   2
20  45     62   1
21  32     62   1
22  47     61   1
23  49     33   2
24  34     59   1